@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Monstserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}

a:hover {
    background: blue;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    background: blue;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: blue;
    border-radius: 5px;
    cursor: pointer;
}

.flex {
    display: flex;
    flex: 1;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
}

.title {
    font-size: 2rem;
    text-align: left;
    margin: 2rem 0;
}

.subtitle {
    font-size: 1.5rem;
    text-align: left;
    margin: 2rem 0;
}



//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}
